* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(90, 236, 188);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.detail label {
    font-size: larger;
    color: white;


}

.detail #name {
    width: 400px;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 2px;
    outline: none;
    border: none;
}

.detail #last {
    width: 400px;
    height: 40px;
    padding: 2px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
}

.phone label {
    font-size: larger;
    color: white;

}

.phone #number {
    width: 400px;
    height: 40px;
    padding: 2px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    outline: none;
}

.email label {
    font-size: larger;
    color: white;
}

.email #email {
    width: 400px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
}

.address label {
    font-size: larger;
    color: white;
}

.address #address {
    padding: 4px;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
}

.item label {
    font-size: larger;
    color: white;
}

.item #add {
    width: 40px;
    height: 20px;
    /* font: 20px; */
}

.item #minus {
    width: 40px;
    height: 20px;

}

.captcha input {
    width: 200px;
    height: 35px;
    padding: 2px;
    /* margin: 2px; */
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;
}

.submit button {
    width: 400px;
    height: 50px;
    font-family:cursive;
    /* margin-left: 150px; */
    padding: 10px 25px;
    color: white;
    background-color: rgb(73, 17, 162);
    font-size: 25px;
    border-radius: 25px;
    font-weight: bold;
    border: none;
    letter-spacing: 6px;
}

/* #message{
    color: red;
} */
.item #quantity {
    width: 400px;
    height: 40px;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 15px;

}

.item #add {
    width: 60px;
    height: 30px;
    font-size: 20px;
    margin: 4px;
    font-weight: bold;
}

.item #minus {
    width: 60px;
    height: 30px;
    font-size: 20px;
    margin: 4px;
    font-weight: bold;
}

.item #total {
    /* font-weight: 500;
     */
    font-size: 20px;
    margin: 0px 4px;
}
.captcha #refresh{
    width: 25px;
    height: 25px;
    margin: 4px;
    cursor: pointer;
    /* color: blueviolet; */

}